<div class="menu-container">
  <div class="card-header col-md-10">
    <h2>
      &#127863 Current Wines 
    </h2>
  </div>
    <div>
      <ol>
        <li>
          Castello di Neive 2016 Barbaresco; $40, 96 points.
        </li>
        <li>
          Éric & Jöel Durand 2016 Empreintes (Cornas); $39, 96 points.
        </li>
        <li>
          Selvapiana 2015 Vigneto Bucerchiale Riserva (Chianti Rufina); $36, 96 points.
        </li>
        <li>
          Joh. Jos. Prüm 2017 Graacher Himmelreich Auslese Riesling (Mosel); $32, 95 points. 
        </li>
        <li>
          Bec Hardy 2021 Semillon-Sauvignon Blanc (Adelaide); $28, 90 points.
        </li>
        <li>
          Torricino 2020 Raone Riserva (Greco di Tufo); $25, 90 points.
        </li>
        <li>
          Howard Park 2018 Miamup Cabernet Sauvignon (Margaret River); $23, 90 points.
        </li>
        <li>
          Alexakis 2020 Assytriko(Crete); $19, 90 points
        </li>
        <li>
          Heron Hill 2018 Reserve Marcri Vineyard Oaked Chardonnnay(Finger Lakes); $18, 90 points.
        </li>
        <li>
          Nicosai 2019 Rosato Sosta Tre Santi Metodo Classico Brut(Etna); $35, 91 points.
        </li>
      </ol>
    </div>

  {{#each reviews as |review|}}
  <div class="review col-md-5">
    <p>
      {{review.id}}.
      {{review.title}}
    </p>
  </div>
  <div class="row-md-2">
    <p>
      Guest:
      {{review.taster_name}}
    </p>
  </div>
  {{/each}}
</div>

  <main class="container-fluid my-3">
      <div class="menu-container">
      <div class="card-header col-md-12 text-center">
        <h2>
          &#127863 Wine Enthusiast Reviews
        </h2>
      </div>
    <div id="reviews" class="row">
      <section class="col-12 col-md-4">
        <div class="container">
          <div class="row">
            <div class="card m-4 bg-light" style="width: 19rem;">
              <div class="card-body">
                <h3 class="card-title">{{reviews.0.title}}</h3>
                <h4 class="card-subtitle mb-2 text-muted">{{reviews.0.winery}}</h4>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Review: {{reviews.0.description}}</li>
                <li class="list-group-item">Variety: {{reviews.0.variety}}</li>
                <li class="list-group-item">Country of origin: {{reviews.0.country}}</li>
                <li class="list-group-item">Grape designation: {{reviews.0.designation}}</li>
                <li class="list-group-item">Score: {{reviews.0.points}} / 100</li>
                <li class="list-group-item">Price: ${{reviews.0.price}}</li>
                <li class="list-group-item">Province: {{reviews.0.province}}</li>
                <li class="list-group-item">Region: {{reviews.0.region_1}}</li>
                <li class="list-group-item">Sommelier: {{reviews.0.taster_name}}</li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <section class="col-12 col-md-4">
         <div class="container">
          <div class="row">
            <div class="card m-4 bg-light" style="width: 19rem;">
              <div class="card-body">
                <h3 class="card-title">{{reviews.1.title}}</h3>
                <h4 class="card-subtitle mb-2 text-muted">{{reviews.1.winery}}</h4>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Review: {{reviews.1.description}}</li>
                <li class="list-group-item">Variety: {{reviews.1.variety}}</li>
                <li class="list-group-item">Country of origin: {{reviews.1.country}}</li>
                <li class="list-group-item">Grape designation: {{reviews.1.designation}}</li>
                <li class="list-group-item"> Score: {{reviews.1.points}} / 100</li>
                <li class="list-group-item">Price: ${{reviews.1.price}}</li>
                <li class="list-group-item">Province: {{reviews.1.province}}</li>
                <li class="list-group-item">Region: {{reviews.1.region_1}}</li>
                <li class="list-group-item">Sommelier: {{reviews.1.taster_name}}</li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <section class="col-12 col-md-4">
         <div class="container">
          <div class="row">
            <div class="card m-4 bg-light" style="width: 19rem;">
              <div class="card-body">
                <h3 class="card-title">{{reviews.2.title}}</h3>
                <h4 class="card-subtitle mb-2 text-muted">{{reviews.2.winery}}</h4>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Review: {{reviews.2.description}}</li>
                <li class="list-group-item">Variety: {{reviews.2.variety}}</li>
                <li class="list-group-item">Country of origin: {{reviews.2.country}}</li>
                <li class="list-group-item">Grape designation: {{reviews.2.designation}}</li>
                <li class="list-group-item"> Score: {{reviews.2.points}} / 100</li>
                <li class="list-group-item">Price: ${{reviews.2.price}}</li>
                <li class="list-group-item">Province: {{reviews.2.province}}</li>
                <li class="list-group-item">Region: {{reviews.2.region_1}}</li>
                <li class="list-group-item">Sommelier: {{reviews.2.taster_name}}</li>
              </ul>
            </div>
          </div>
        </div>
      </section>



<script src="/js/add-review.js"></script>

      





    </div>
    <footer class="git">
      <h1 id="aaa" class="mt-5">Contact us on Github</h1>
      <nav class="nav mt-3">

        <a class="nav-link" href="https://github.com/nftgoat">
          <img height="42px" src="/images/github_PNG40.png">
          nftgoat
        </a>
        <a class="nav-link" href="https://github.com/ProNevros">
          <img height="42px" src="/images/github_PNG40.png">
          ProNevros
        </a>
        <a class="nav-link" href="https://github.com/harrj396">
          <img height="42px" src="/images/github_PNG40.png">
          harrj396
        </a>
        <a class="nav-link" href="https://github.com/oliverLo78">
          <img height="42px" src="/images/github_PNG40.png">
          oliverLo78
        </a>

      </nav>
    </footer>
  </main>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
    integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
    crossorigin="anonymous"></script>
        </body>
</html>

