{{!-- <main class="container-fluid my-3">
        <h1 class="text-center">Rose to Rough</h1>
        <h5 class="text-center mt-4">Add your review</h5>
        <form>
            <div class="form-group mt-3">
                <label for="new-review-form">Enter the country the wine is from</label>
                <textarea class="form-control" id="new-review-form" rows="1"></textarea>
              </div>
             
              <div class="form-group mt-3">
                <label for="exampleFormControlTextarea1">Enter your review/description of the wine here</label>
                <textarea class="form-control" id="new-review-form" rows="3"></textarea>
              </div>
              
              <div class="form-group mt-3">
                <label for="exampleFormControlTextarea1"> Enter the wine's designation</label>
                <textarea class="form-control" name="number" id="exampleFormControlTextarea1" rows="1"></textarea>
              </div>
              
              <div class="form-group mt-3">
                <label for="exampleFormControlTextarea1">Enter score out of 100</label>
                <textarea class="form-control" name="number" id="exampleFormControlTextarea1" rows="1"></textarea>
              <div class="form-group mt-3">
                <label for="exampleFormControlTextarea1">Entet price paid for wine</label>
                <textarea class="form-control" name="number" id="exampleFormControlTextarea1" rows="1"></textarea>
              </div>
              <div class="form-group mt-3">
                <label for="exampleFormControlTextarea1">Enter the province of the wine</label>
                <textarea class="form-control" name="number" id="exampleFormControlTextarea1" rows="1"></textarea>
              </div>
              <div class="form-group mt-3">
                <label for="exampleFormControlTextarea1">Your name</label>
                <textarea class="form-control" name="number" id="exampleFormControlTextarea1" rows="1"></textarea>
              </div>
              <div class="form-group mt-3">
                <label for="exampleFormControlTextarea1">Variety</label>
                <textarea class="form-control" name="number" id="exampleFormControlTextarea1" rows="1"></textarea>
              </div>
              <div class="form-group mt-3">
                <label for="exampleFormControlTextarea1">Winery</label>
                <textarea class="form-control" name="number" id="exampleFormControlTextarea1" rows="1"></textarea>
              </div>
            <button type="submit" class="btn btn-danger mt-3">Submit</button>
          </form>
     
    </main> --}}

    <div class="review-card">
  <div class="review-card-header">
    {{title}}
  </div>
  <div class="card-body">
    <p>
      Description:
      {{description}}
    </p>
    <p>
      Guest:
      {{taster_name}}
    </p>
    {{#if is_twenty_one}}
      <p class="is-twenty-one">
        Your 21 yrs or older
      </p>
    {{/if}}
  </div>
</div>

<!-- This is the form for updating a dish. According to MVC framework, what is this form responsible for? -->
<!-- This form is responsible for the UI logic, or the components in the View that the user will interact with. -->
<!--What isn't it responsible for? -->
<!--It is not responsible for data-related logic, requests, or business-logic. -->

<div class="edit-dish-container">
  <h2>
    Update Dish
  </h2>
  <form class="edit-dish-form">
    <label for="dish_name">
      Dish Name:
    </label>
    <br />
    <textarea id="dish_name" name="dish_name" rows="2" cols="30">
      {{dish_name}}
    </textarea>
    <br />
    <label for="description">
      Description:
    </label>
    <br />
    <textarea id="description" name="description" rows="5" cols="30">
      {{description}}
    </textarea>
    <br />
    <label for="guest_name">
      Guest Name:
    </label>
    <br />
    <textarea id="guest_name" name="guest_name" rows="2" cols="30">
      {{guest_name}}
    </textarea>
    <br />
    <br />
    <input type="checkbox" id="has_nuts" name="has_nuts" value="true" />
    <label for="has_nuts">
      Check box if this dish contains nuts
    </label>
    <br />
    <button type="submit" value="Submit">
      Submit
    </button>
  </form>
</div>
<script src="/js/edit-dish.js"></script>

    

    